section
{
    border: 1px solid black;
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 100px;
    margin-right: 100px;
    background-color: #af77e4;
}

article
{
    border: 2px solid #4908c2;
    margin: 100px 20px 60px 30px;
}

aside
{
    border: 1px solid blue;
    width: 300px;
    margin: auto;
}